<header id="home-header" [ngClass]="{'header-fixed': isFixed}">
  <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="home-logo mr-1">
          <a href="/"><img src="assets/images/logo4.png" alt="ContactSam"></a>
      </div>

      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon></button>
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign=" start end">
    <div fxFlex class="top-menu">
      <button mat-button id="dashboard-topbtn" class="hometop-btn"
              [routerLink]="'/home/'"><strong></strong></button>

      <button mat-button id="dashboard-topbtn" class="hometop-btn"
              scrollTo="testimonials-section"><strong>About me</strong></button>

      <button mat-button id="dashboard-topbtn" class="hometop-btn"
              scrollTo="service-section"><strong>My Skills</strong></button>

      <button mat-button id="dashboard-topbtn" class="hometop-btn"
              scrollTo="portfolio-section"><strong>Recent Projects</strong></button>

      <button mat-button id="dashboard-topbtn" class="hometop-btn"
              scrollTo="contact-me"><strong>Contact me</strong></button>
    </div>
    </div>
  </div>
</header>

