<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666">
       <h2>I'm a passionate and self-motivating Back-End Java/Spring developer</h2>
       </div>
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="accent" (click)="sendEmail()">Alright, let's build something great !!!</button>
      </div>
    </div>
  </div>
</section>
