<footer class="home-footer" id="contact-me">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>About Me</b></h4>
          <p>I'm a Back-End Java/Spring Developer with 3+ years of experience who
            also has experience working with the Front-End using (ANGULAR 2+). I'm
            so passionate about building and making things work.
            I love finding solutions to problems, researching
            and getting up-to-date with technology trend. </p>
          <button mat-raised-button color="accent">Contact Me</button>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Contact Me</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> tejisamson@gmail.com </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="accent">location_on</mat-icon>
                <h5 matLine><b>Adress</b></h5>
                <p matLine>I live in Tay Ho, Hanoi, <br> Vietnam </p>
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Special Note</b></h4>
          <p> I'm a dynamic developer and ready to relocate any where if required.</p>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
